body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #ffffff;
  font-weight: 500;
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
}

header a {
  padding-top: 24px;
  padding-bottom: 24px;
}

button {
  font-family: inherit;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-item {
  display: block;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header .logo {
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.banner-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.banner-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-list-item .card-title {
  margin-bottom: 8px;
}

.card-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-cards {
  display: flex;
  gap: 24px;
}

.card {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px 16px;
}

.team-cards .card-content {
  text-align: center;
  padding: 32px 0;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-cards .card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  box-sizing: content-box;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
}

.card-title {
  margin-bottom: 8px;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  width: 264px;
}
